body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: white;
  text-align: center;
}

.screen {
  padding: 30px 20px;
}

.hidden {
  display: none;
}

.logo {
  width: 180px;
  margin: 20px auto;
}

.logo-small {
  width: 100px;
  margin: 10px auto;
}

input,
select,
button {
  display: block;
  width: 90%;
  max-width: 320px;
  margin: 12px auto;
  padding: 14px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

input,
select {
  background: #111;
  color: white;
  border: 1px solid #ff0000;
}

button {
  background: #ff0000;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 25px auto;
  max-width: 350px;
}

.track-card {
  background: #111;
  border: 1px solid #ff0000;
  border-radius: 14px;
  padding: 20px;
  font-size: 18px;
}