body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  color: white;
  background-image: url('logo1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.auth-container,
#profile-screen,
#music-screen {
  width: 90%;
  max-width: 420px;
  margin: auto;
  margin-top: 60px;
  padding: 30px;
  background: rgba(0,0,0,.92);
  border: 3px solid #00ff66;
  border-radius: 25px;
  box-shadow: 0 0 25px #00ff66;
}

.logo {
  width: 180px;
  display: block;
  margin: auto;
}

h1 {
  text-align: center;
  color: #00ff66;
  font-size: 52px;
  text-shadow: 0 0 20px #00ff66;
}

input, select {
  width: 100%;
  padding: 16px;
  margin: 12px 0;
  border-radius: 15px;
  border: 2px solid #00ff66;
  background: #000;
  color: white;
}

button {
  width: 100%;
  padding: 16px;
  margin: 12px 0;
  border: none;
  border-radius: 15px;
  background: linear-gradient(90deg,#00ff66,#d4ff00);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  transform: scale(1.03);
}

.hidden {
  display: none;
}